<template>
    <div class="view">
        <navbar />
        <div class="container-fluid">
            <div class="row">
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-md-3 pt-2">
                    <dashboard-content></dashboard-content>
                </main>
            </div>
        </div>
    </div>
</template>

<script>
import DashboardContent from "./Content.vue"
import Navbar from "./Navbar.vue"

export default {
    components: {
        DashboardContent,
        Navbar,
    },
    data() {
        return {
            sidebarLinks: [
                {
                    title: "Dashboard",
                    path: { name: "dashboard" },
                },
                {
                    title: "Books",
                    path: { name: "books" },
                },
                {
                    title: "Readers",
                    path: { name: "readers" },
                },
            ],
        }
    },
}
</script>

<style scoped>
</style>
